body {
    padding: 3rem 0;
}

#jr-img {
    @include border-radius(250px);
    border: 2px solid $steel;
    display: block;
    margin: 0px auto;
}

img {
    display: block;
}

.img-404{
    margin: 5rem auto 0
}
