<ul class="menu vertical primary-nav">
  <li>
    <a href="{{ site.baseurl }}{% link index.html %}">Home</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}{% link about.html %}">About</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}{% link resume.html %}">Resume</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}{% link contact.html %}">Contact</a>
  </li>
</ul>

<div class="social">
  <a target="_blank" href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github"></i>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin"></i>
  </a>
  <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}">
    <i class="fa fa-instagram"></i>
  </a>
</div>
