---
layout: default
permalink: /resume/
---
<section class="main">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h1 class="page-title">Resume</h1>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell medium-8">
      <h3>Experience</h3>
      <div class="grid-x grid-margin-x grid-margin-y medium-up-2">
        {% for exp in site.data.experience %}
          <div class="cell experience">
            <h6>{{ exp.title }} <small>{{ exp.date }}</small></h6>
            <h6 class="subheader">{{ exp.company }}</h6>
            <ul>
              {% for detail in exp.details %}
                <li>
                  {{ detail }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="cell medium-4">
      <h3>Proficiencies</h3>
      {% for prof in site.data.proficiencies %}
        <h6>{{ prof.title }}</h6>
        <p>
          {% for skill in prof.skills %}
            <span class="label info">{{ skill }}</span>
          {% endfor %}
        </p>
      {% endfor %}

      <hr />

      <h3>Education</h3>
      <div class="education">
        <h6>BS Digital Media <small>2009</small></h6>
        <h6 class="subheader">Utah Valley University</h6>
      </div>

      <div class="cv-dl">
        <a class="button primary" href="{% asset_path 'Resume - Developer - Jay Nielsen.pdf' %}" download>Download CV</a>
      </div>
    </div>
  </div>
</section>
