.home-splash {
  min-height: 100vh;
  background: rgba($black, 0.5);
  position: relative;
  overflow: hidden;
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

.main {
  padding: 3rem;
  background: url(asset_path('paper.jpg')) center center;
}

.page-title {
  background: $secondary-color;
  color: $white;
  margin-left: -4rem;
  padding-left: 4rem;
  display: inline-block;
  padding-right: 2rem;
}

.experience {
  background: $white;
  border: rem-calc(1) solid $light-gray;
  border-radius: rem-calc(5);
  padding: 2rem;
  transition: all linear 0.1s;

  h6 {
    margin: 0;
  }

  .subheader {
    margin-bottom: 1rem;
  }

  &:hover {
    transform: translateY(rem-calc(-8));
    box-shadow: 0 rem-calc(5) rem-calc(15) rem-calc(-5) rgba($black, 0.05);
  }
}

.education {
  margin-bottom: 1rem;

  h6 {
    margin: 0;
  }
}

.cv-dl {
  padding-top: 2rem;
}
