.title {
  position: relative;
}

.title::after,
.title::before,
.heading::after,
.heading::before {
  position: absolute;
  display: block;
  background: var(--gaze-color-text-default);
  content: "";
}

.title::before {
  top: 50%;
  right: 0;
  left: 0;
  height: 1px;
}

.title::after {
  top: 25%;
  right: 0;
  bottom: 25%;
  width: 1px;
}

.heading {
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0 calc(var(--gaze-space-100) - 1px);
  text-transform: uppercase;
  background: var(--gaze-color-white);
  border-width: 0 1px;
}

.heading::before,
.heading::after {
  top: 25%;
  bottom: 25%;
  width: 1px;
}

.heading::before {
  left: 0;
}

.heading::after {
  right: 0;
}
