/* Home Page
------------ */
.hero {
  min-height: 100vh;
  position: relative;

  .hero-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    div {
      height: 100%;
    }

    .slick-slide {
      background-size: cover;
      background-position: center center;
    }
  }

  &::before {
    content: '';
    background: rgba(darken($secondary-color, 25%), 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .hero-main {
    z-index: 1;
  }

  .hero-tabs-nav {
    margin-bottom: 1rem;

    .cell {
      border: 1px solid transparent;
      border-bottom-color: $white;
      transition: border-color linear 0.2s;

      + .cell {
        margin-left: -1px;
      }
    }

    .tab {
      cursor: pointer;

      i {
        opacity: 0.75;
        transition: opacity linear 0.2s;
      }

      &:hover i {
        opacity: 1;
      }
    }

    .active {
      border: 1px solid $white;
      border-bottom-color: transparent;
      i {
        opacity: 1;
      }
    }
  }

  .hero-tabs-content {
    .slick-slide {
      outline: none;
    }
  }
}

/* Sub Page
----------- */
.main {
  padding: 3rem;
  background: url('../img/paper.jpg') center center;
}

.page-title {
  background: $secondary-color;
  color: $white;
  margin-left: -4rem;
  padding-left: 4rem;
  display: inline-block;
  padding-right: 2rem;
}

.experience {
  background: $white;
  border: rem-calc(1) solid $light-gray;
  border-radius: rem-calc(5);
  padding: 2rem;
  transition: all linear 0.1s;

  h6 {
    margin: 0;
  }

  .subheader {
    margin-bottom: 1rem;
  }

  &:hover {
    transform: translateY(rem-calc(-8));
    box-shadow: 0 rem-calc(5) rem-calc(15) rem-calc(-5) rgba($black, 0.05);
  }
}

.education {
  margin-bottom: 1rem;

  h6 {
    margin: 0;
  }
}

.cv-dl {
  padding-top: 2rem;
}
