h1, h2, h3, h4, h5, h6 {
  letter-spacing: rem-calc(0.5);
}
.sidebar {
  background: $lighter-gray;
  min-height: 100vh;
  border-right: rem-calc(1) solid $light-gray;
  max-width: rem-calc(350);
  box-shadow: 0px 0px 30px rgba($black, 0.05);
  z-index: 1;

  .site-title {
    text-align: center;
    padding: 3rem 0;
    .face {
      border-radius: 50%;
      border: rem-calc(1) solid $light-gray;
      max-width: rem-calc(110);
      margin-bottom: 1rem;
      box-shadow: 0px 0px 10px rgba($black, 0.01);
    }

    h3, p {
      margin: 0;
    }

    p {
      color: $dark-gray;
      letter-spacing: rem-calc(0.9);
    }
  }

  .primary-nav {
    border-top: rem-calc(1) solid $light-gray;

    a {
      font-family: $header-font-family;
      font-weight: $header-font-weight;
      color: $body-font-color;
      border-bottom: rem-calc(1) solid $light-gray;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      position: relative;

      &::after {
        content: '';
        height: rem-calc(1);
        background: $primary-color;
        position: absolute;
        bottom: rem-calc(-1);
        left: 0;
        width: 0;
        transition: all linear 0.2s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .social {
    text-align: center;
    padding: 2rem 0;

    a {
      color: $dark-gray;
      display: inline-block;
      width: 1.75em;
      height: 1.75em;
      line-height: 1.75em;
      text-align: center;
      background: $light-gray;
      font-size: rem-calc(18);
      margin: 0.15rem;

      i {
        vertical-align: middle;
      }
    }
  }
}
