@import '../../utils/defaults.css';

.footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 1rem 2rem 2rem;
  border-top: 1px solid var(--color-black);
  color: var(--color-black);
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 25%;
    position: absolute;
    background: var(--color-black);
    top: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
