---
layout: default

slides:
  - title: Full Stack Web Dev
    text: Exploring opportunities in open source technology for creatively sharing information. Creating beautiful user experiences with elegant design.
    icon: fa-laptop
    image: assets/img/web-dev.jpg
  - title: Video & Animation
    text: Combining digital and analog craft to produce surrealist, educational web series for YouTube and Amazon.
    icon: fa-film
    image: assets/img/video-production.jpg
  - title: STEM Education
    text: Developing a positive learning environment that empowers persons young and old to make their own media and engage critically with contemporary advances in technology.
    icon: fa-book
    image: assets/img/education.jpg
---
<div class="grid-x align-center-middle hero light">
  <div class="hero-bg">
    {% for slide in page.slides %}
      <div style="background-image: url({{ slide.image | relative_url }});"></div>
    {% endfor %}
  </div>
  <div class="hero-main cell small-11 medium-8 large-7 xlarge-5">
    <div class="grid-x grid-padding-x grid-padding-y hero-tabs-nav">
      {% for slide in page.slides %}
        <div
          class="cell tab shrink{% if forloop.first %} active{% endif %}"
          data-goto-slide="{{ forloop.index0 }}">
          <i class="fa fa-fw {{ slide.icon }}"></i>
        </div>
      {% endfor %}
      <div class="cell auto"><!-- Spacer --></div>
    </div>
    <div class="hero-tabs-content">
      {% for slide in page.slides %}
        <div>
          <h1>{{ slide.title }}</h1>
          <p>
            {{ slide.text }}
          </p>
          <a class="button hollow light" href="{% link resume.html %}">Learn More</a>
          <a class="button hollow light" href="{% link contact.html %}">Get In Touch</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
