---
layout: default

slides:
  - title: Full Stack Web Development
    text: I am a seasoned web development professional with experience developing hundreds of websites for clients across the nation.
    icon: fa-laptop
    image: assets/img/web-dev.jpg
  - title: Video Production & Animation
    text: Produced, writen, directed, edited and animated surrealist web series for YouTube and Amazon.
    icon: fa-film
    image: assets/img/video-production.jpg
  - title: STEM Education
    text: From educational web series to traditional classroom workshops, I seek to educate and empower persons young and old to make their own media and engage critically with contemporary advances in technology.
    icon: fa-book
    image: assets/img/education.jpg
---
<div class="grid-x align-center-middle hero light">
  <div class="hero-bg">
    {% for slide in page.slides %}
      <div style="background-image: url({{ slide.image | relative_url }});"></div>
    {% endfor %}
  </div>
  <div class="hero-main cell small-11 medium-10 large-8 xlarge-6">
    <div class="grid-x grid-padding-x grid-padding-y hero-tabs-nav">
      {% for slide in page.slides %}
        <div
          class="cell tab shrink{% if forloop.first %} active{% endif %}"
          data-goto-slide="{{ forloop.index0 }}">
          <i class="fa fa-fw {{ slide.icon }}"></i>
        </div>
      {% endfor %}
      <div class="cell auto"><!-- Spacer --></div>
    </div>
    <div class="hero-tabs-content">
      {% for slide in page.slides %}
        <div>
          <h1>{{ slide.title }}</h1>
          <p>
            {{ slide.text }}
          </p>
          <a class="button hollow light" href="{% link resume.html %}">Learn More</a>
          <a class="button hollow light" href="https://thehelloworldprogram.com">Get In Touch</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
