---
layout: page
permalink: /resume/
title: Resume
---
<div class="grid-x grid-margin-x">
    <div class="cell xxlarge-8">
      <h2>Experience</h2>
      <div class="grid-x grid-margin-x grid-margin-y medium-up-2">
        {% for exp in site.data.experience %}
          <div class="cell experience">
            <h6>{{ exp.title }} <small>{{ exp.date }}</small></h6>
            <h6 class="subheader">{{ exp.company }}</h6>
            <ul>
              {% for detail in exp.details %}
                <li>
                  {{ detail }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="cell xxlarge-4">
      <h2>Proficiencies</h2>
      {% for prof in site.data.proficiencies %}
        <h6>{{ prof.title }}</h6>
        <p>
          {% for skill in prof.skills %}
            <span class="label info">{{ skill }}</span>
          {% endfor %}
        </p>
      {% endfor %}

      <hr />

      <h2>Education</h2>
      <div class="education">
        <h6>BS Digital Media <small>2009</small></h6>
        <h6 class="subheader">Utah Valley University</h6>
      </div>

      <div class="cv-dl">
        <a class="button primary" href="{{ 'assets/pdf/Resume - Developer - Jay Nielsen.pdf' | relative_url }}" download>Download CV</a>
      </div>
    </div>
  </div>
