.about {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 2rem;
  color: white;
  align-items: center;
}

.aboutText {
  background: #5b205e;
  border-radius: 0.25rem;
  padding: 2rem;
}

.aboutText > *:last-child {
  margin-bottom: 0;
}

.aboutImg {
  position: relative;
  border-radius: 50%;
  border: 1px solid #5b205e;
  margin: 2rem;
}

.aboutImg::before {
  content: '';
  height: 1px;
  width: 4.15rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  background: #5b205e;
}

.aboutImg img {
  border-radius: 50%;
  border: 0.75rem solid white;
  position: relative;
  margin: 0;
}
