@import '../../utils/defaults.css';

.about {
  margin-bottom: 4rem;
  grid-column-gap: 2rem;
  color: white;
  align-items: center;
}

.aboutText {
  background: #5b205e;
  border-radius: 0.25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}

.aboutText > *:last-child {
  margin-bottom: 0;
}

.aboutImg {
  position: relative;
  border-radius: 50%;
  border: 1px solid #5b205e;
  max-width: 80%;
  width: 300px;
  margin: 0 auto;
  margin-top: -6rem;
}

.aboutImg img {
  border-radius: 50%;
  border: 0.75rem solid white;
  position: relative;
  margin: 0;
}

@media (width >= 60rem) {
  .about {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .aboutText {
    padding-bottom: 2rem;
  }

  .aboutImg {
    margin: 2rem;
    width: auto;
    max-width: 100%;

    &::before {
      content: '';
      height: 1px;
      width: 4.15rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
      background: #5b205e;
    }
  }
}
